.nav-link {
  padding: 4px 0px 1px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.message {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.errorMessage {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button.Button {
  background-color: white; /* Green */
  border: 2px solid grey;
  border-radius: 6px;
  padding: 1px 4px;
  margin: 2px;
  color: black;
  cursor: pointer;
}

button.LogoutButton {
  background-color: white; /* Green */
  border: 2px solid grey;
  padding: 0px 4px;
  margin: 2px;
  color: black;
  cursor: pointer;
  font-size: 12px;
}

.navbar-container {
  display: flex;
  background-color: lightgray;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px outset black;
  margin-bottom: 5px;
}

.group-element {
  line-height: 1.2;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}

.row-m-b{
  margin-bottom: 20px;
}